$principal: #252525;
$principal-h: #1a1a1a;
$txtColor: #5c5c5c;
$secondary: #f9ba10;
$secondary-h:#dbaf38;
$bg:#fff;
$bgTw: #F9F9FF;
$bgTransparent: rgba(255, 255, 255,0%);
$gradientYellow: linear-gradient(60deg, #ffd052, #ffe6a2);
$gradientWhite: linear-gradient(105deg, #f6f6f6, #f9f4f0);
$ff: "Aspira Wide", sans-serif;
$ff-dsc: 300 1.6rem/2.4rem $ff;
$ff-dsc-mm: 300 2rem/2.4rem $ff;
$ff-dsc-hm: 900 2.8rem/3.6rem $ff;
$ff-spacing-dsc: .08rem;
$ff-st: 800 1.6rem $ff;
$ff-h1-sm: 900 3.2rem $ff;
$ff-h1-mm: 900 4.8rem $ff;
$ff-h1-hm: 900 5.6rem/5.6rem $ff;
$ff-btn: 800 2rem $ff;
$transition: all .25s ease-in;

$mg16: 1.6rem 0;
$shadow-box: 1px 1px 10px rgba(10,10,10,20%);