@use 'variable.scss' as c;

@mixin borders ($b:2rem,$p:2rem){
    border-radius:$b;
    padding:$p;
}
@mixin select-button ($c:#fff) {
    background-color:$c;
    width:20rem;
    height:4rem;
    font:900 1.4rem c.$ff;
    padding:0.8rem 2rem;
    transition:c.$transition;    
    &:hover{
        color:c.$secondary;

    }
}

@mixin box-footer ($height-bg:14rem,$bg:c.$principal, $c:c.$principal){
    width:100%;
    height:$height-bg;
    background-color:$bg;
    padding:2rem;
    box-sizing:border-box;
    &-title{
        font:900 2rem c.$ff;
        color:$c;
    }
    &-dsc{
        display:flex;
        justify-content:flex-start;
        align-items:center;
        margin-top:1rem;
        gap:1rem;
        .fi, .txt-equip{
            font:400 1.4rem c.$ff;                    
        }
        .txt-equip{
            color:c.$txtColor;
        }
        .fi{
            color:$c;                
        }
    }

    
}

#complete-line{
    position:relative;
    background:transparent;
    a{
        color:c.$principal;
    }
}
.hero-complete-line{
    background-color:#ffdc7f;
    border-radius:2rem;
    padding:4rem 12rem;
    margin-top:8rem;
    box-sizing:border-box;
    width:100%;
    overflow:hidden;
    height:32rem;
    position:relative;
    &__title, &__txt{
        color:c.$txtColor;
        width:44rem;
    }
    &__title{
        font:c.$ff-h1-mm;
        line-height:4.4rem;
    }
    &__btn{
        @include select-button;
    }
}
.complete-line-photo{
    position:absolute;
    right:6rem;
    top:-2rem;
    width: 42rem;
    height:auto;
}
.complete-line__footer{
    @include box-footer($height-bg:18rem, $bg:c.$bg);
}