@use 'variable.scss' as c;

footer{
    background: c.$principal-h;
    color: c.$bg;
    padding: 3.2rem 2rem;
    margin-top:5.6rem;
    font: 300 1.4rem/2.8rem c.$ff;
    .flex-footer{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap:wrap;
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            align-items:start;
        }
    }
    div{
        margin-bottom:1.6rem;

        a{
            font-size:1.6rem;
            margin:0 1.6rem;
            color:c.$bg;
        } 
        p{
            font-size:1.4rem;
        }
        h5{
            font-weight:800;
        }
        i{
            font-size:2rem;
            margin-right:2rem;
        }
    }
   
    
}