@use 'variable.scss' as c;

.hero{
    position:relative;
    width:100%;
    .block{
        position:absolute;
        top:250px;
        left:320px;
        z-index:2;
    }
    picture{
        width:100%;
        z-index:-1;
    }      
}