html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-a-e {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.flex-c {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-wrap__evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 16rem;
  row-gap: 4rem;
  align-items: center;
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.flex-wrap-c {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.w100 {
  width: 100%;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-column-start {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-centerfix {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-2 {
  display: flex;
  flex: 1;
  margin: 0 0.5rem;
}

.hero {
  position: relative;
  width: 100%;
}
.hero .block {
  position: absolute;
  top: 180px;
  left: 400px;
  width: 550px;
  z-index: 2;
}
.hero .block img {
  margin-bottom: 2rem;
}
.hero picture {
  width: 100%;
  z-index: -1;
}
.hero picture img {
  width: 100%;
}
.hero__title {
  font: 900 5.6rem/5.6rem "Aspira Wide", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.hero__txt {
  font: 900 2.8rem/3.6rem "Aspira Wide", sans-serif;
  color: #fff;
}
.hero__btn {
  color: #252525;
}
@media screen and (max-width: 1024px) {
  .hero .block {
    top: 180px;
    left: 20px;
    width: 280px;
  }
  .hero__title {
    font: 900 3.2rem "Aspira Wide", sans-serif;
  }
  .hero__txt {
    font: 300 2rem/2.4rem "Aspira Wide", sans-serif;
  }
}

footer {
  background: #1a1a1a;
  color: #fff;
  padding: 2.4rem 2rem;
  font: 300 1.4rem/2.8rem "Aspira Wide", sans-serif;
}
footer img {
  height: 8rem;
  width: auto;
}
footer .foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .foot__tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
footer .foot strong {
  font-weight: 900;
  color: #f9ba10;
  transition: all 0.25s ease-in;
}
footer .foot strong:hover {
  color: #dbaf38;
}
footer .txt__white {
  letter-spacing: 4px;
}
footer div a {
  font-size: 1.4rem;
  color: #fff;
  transition: all 0.25s ease-in;
}
footer div a:hover {
  color: #5c5c5c;
}
footer div p {
  font-size: 1.4rem;
}
footer div i {
  font-size: 2rem;
  margin-right: 2rem;
}
@media screen and (max-width: 1024px) {
  footer img {
    height: 6.4rem;
  }
  footer .foot {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  footer .txt__white {
    letter-spacing: 1px;
    font: 300 1.4rem/1.5rem "Aspira Wide", sans-serif;
    text-align: center;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Aspira Wide", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem 0 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  height: 8rem;
  z-index: 4;
}
header nav .container {
  padding: 0;
}
header .nav__itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20rem;
}
header a {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  margin: 0 0.8rem;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
header a:hover {
  color: #f9ba10;
  font-weight: 900;
}
header .toggle {
  display: none;
}
header .menu-toggle {
  display: none;
}
@media screen and (max-width: 1024px) {
  header .nav__itens {
    display: none;
  }
  header .toggle {
    display: block;
    color: #f9ba10;
    font-size: 4rem;
    float: right;
    margin-right: 2rem;
    position: relative;
  }
  header .menu-toggle {
    display: none;
  }
  header .menu-toggle--active {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(60deg, #ffd052, #ffe6a2);
    top: 0;
    z-index: 999;
  }
  header .menu-toggle__position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .menu-toggle__itens {
    font: 300 2rem/2.4rem "Aspira Wide", sans-serif;
    font-weight: 500;
    color: #5c5c5c;
    text-align: center;
    margin: 3.2rem 0;
    letter-spacing: 1px;
  }
}

.title {
  font: 900 4.8rem "Aspira Wide", sans-serif;
  color: #252525;
}
.title__equipment {
  text-align: center;
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  color: #5c5c5c;
  letter-spacing: 3px;
  margin: 4rem 0 2rem;
}
.title__faq {
  text-align: center;
  font: 900 4.8rem "Aspira Wide", sans-serif;
  color: #252525;
}

.container {
  width: 100%;
  padding: 5rem 0;
  max-width: 1280px;
  margin: 0 auto;
}
.container .btn-modal {
  width: 26rem;
  margin: 2rem auto;
  display: block;
}
.container__project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.container__project .sup {
  font: 300 2rem/2.4rem "Aspira Wide", sans-serif;
  color: #f9ba10;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.container__descriptive {
  flex: 1 1 30rem;
}
.container__presentation {
  position: relative;
  flex: 2 1 70rem;
  height: 41rem;
}
.container__presentation .project__photo--over {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 2;
  user-select: none;
}
.container__presentation .project__photo--over img {
  width: 20rem;
  height: 36rem;
  object-fit: cover;
  object-position: 50% 50%;
}
.container__presentation .project__photos {
  z-index: 0;
  position: relative;
  float: right;
  width: 70rem;
  height: 41rem;
}
.container__presentation .project__photos .project__txt {
  position: absolute;
  bottom: 4rem;
  left: 6rem;
  z-index: 2;
}
.container__presentation .project__photos .project__txt h3 {
  font: 900 2.8rem/3.6rem "Aspira Wide", sans-serif;
  color: #f9ba10;
  font-weight: 900;
}
.container__presentation .project__photos .project__txt p {
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  color: #fff;
}
.container__presentation .project__photos .project__txt h4 {
  font: 300 2rem/2.4rem "Aspira Wide", sans-serif;
  color: #f9ba10;
}
.container__presentation .project__photos .slider {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
  cursor: pointer;
}
.container__presentation .project__photos .slider .fi-ts-angle-small-left, .container__presentation .project__photos .slider .fi-ts-angle-small-right {
  color: #252525;
  font-size: 2rem;
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 0;
  cursor: pointer;
}
.container__presentation .project__photos .slider .fi-ts-angle-small-left:hover, .container__presentation .project__photos .slider .fi-ts-angle-small-right:hover {
  background-color: #F9F9FF;
}
.container__presentation .project__photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px) brightness(0.5);
  transition: all 0.25s ease-in;
}
.container__presentation .project__photos img:hover {
  filter: blur(0) brightness(0.8);
}
.container__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 2rem;
    box-sizing: border-box;
  }
  .container__project {
    margin-top: 5rem;
    flex-wrap: wrap;
  }
  .container__project .sup {
    font-weight: 300;
    letter-spacing: 3px;
  }
  .container__descriptive {
    flex: 1 1 100%;
  }
  .container__descriptive .title {
    margin: 0;
    padding: 0;
  }
  .container__presentation {
    flex: 1 1 100%;
    height: 28rem;
  }
  .container__presentation .project__photo--over {
    display: none;
  }
  .container__presentation .project__photos {
    width: 100%;
    height: 28rem;
  }
  .container__presentation .project__photos img {
    height: 100%;
    width: 100%;
  }
  .container__presentation .project__photos .project__txt {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .container__presentation .project__photos .project__txt h3, .container__presentation .project__photos .project__txt p, .container__presentation .project__photos .project__txt h4 {
    text-align: center;
  }
  .container__form {
    flex-direction: column;
  }
}

#equipamentos .title {
  text-align: center;
}

.line-equipment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line-equipment .box-equipment {
  border: 1px solid transparent;
  width: 30rem;
  height: 38rem;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.line-equipment .box-equipment:hover {
  border: 1px solid #5c5c5c;
  transform: scale(1.02);
}
.line-equipment .box-equipment__foto {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  object-position: 50% 50%;
}
.line-equipment .box-equipment__footer {
  width: 100%;
  height: 14rem;
  background-color: #252525;
  padding: 2rem;
  box-sizing: border-box;
}
.line-equipment .box-equipment__footer-title {
  font: 900 2rem "Aspira Wide", sans-serif;
  color: #fff;
}
.line-equipment .box-equipment__footer-dsc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.line-equipment .box-equipment__footer-dsc .fi, .line-equipment .box-equipment__footer-dsc .txt-equip {
  font: 400 1.4rem "Aspira Wide", sans-serif;
}
.line-equipment .box-equipment__footer-dsc .txt-equip {
  color: #5c5c5c;
}
.line-equipment .box-equipment__footer-dsc .fi {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .line-equipment {
    justify-content: center;
  }
}

.link__complete {
  color: #252525;
  text-decoration: underline;
  float: right;
  margin-top: 1.2rem;
}

.hide-first {
  display: block;
}

.txt {
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  margin: 2rem 0;
}

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxes .box {
  padding: 6rem 3.2rem;
  width: 42.6rem;
  height: 42.6rem;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.25s ease-in;
  box-sizing: border-box;
}
.boxes .box .fi {
  font-size: 5rem;
  color: #5c5c5c;
}
.boxes .box__plans {
  border: 1px solid #f9ba10;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 1.6rem;
}
.boxes .box__plans:last-child {
  margin-right: 0;
}
.boxes .box__plans .head {
  width: 100%;
  background-color: #252525;
  padding: 4rem 2rem 2rem;
  box-sizing: border-box;
}
.boxes .box__plans .head .tag {
  color: #fff;
  font: 200 1.6rem "Aspira Wide", sans-serif;
  letter-spacing: 4px;
  text-align: center;
}
.boxes .box__plans .head .tag__title {
  font: 900 2.8rem/3.6rem "Aspira Wide", sans-serif;
  color: #fff;
  text-align: center;
}
.boxes .box__plans__main {
  padding: 2.8rem;
}
.boxes .box__plans__main .value-plan {
  font: 900 6rem "Aspira Wide", sans-serif;
  color: #252525;
  text-align: center;
}
.boxes .box__plans__main .value-plan sub {
  font-size: 2.4rem;
  vertical-align: baseline;
}
.boxes .box__plans__main .txt {
  text-align: center;
}
.boxes .box__plans__main ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 2rem;
}
.boxes .box__plans__main ul li {
  font: 300 1.6rem/3.2rem "Aspira Wide", sans-serif;
}
.boxes .box__plans--btn {
  display: block;
  width: 24rem;
  background-color: #252525;
  color: #fff;
  margin: 2rem auto;
  transition: all 0.25s ease-in;
}
.boxes .box__plans--btn:hover {
  background-color: #1a1a1a;
  transform: scale(1.02);
}
.boxes .box__title {
  font: 900 3.2rem "Aspira Wide", sans-serif;
  color: #5c5c5c;
}
.boxes .box:hover {
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
}
@media screen and (max-width: 1024px) {
  .boxes {
    flex-wrap: wrap;
  }
  .boxes .box {
    width: 100%;
  }
}

#clientes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#clientes .cliente {
  position: relative;
  width: 20%;
  height: 80rem;
  overflow: hidden;
}
#clientes .cliente .zoom-in {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(1);
  z-index: 1;
  transition: all 0.25s ease-in;
}
#clientes .cliente__name {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  font: 900 2rem "Aspira Wide", sans-serif;
  color: #fff;
  z-index: 1;
}
#clientes .cliente__category {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  font: 300 2rem/2.4rem "Aspira Wide", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform-origin: left top;
  color: #fff;
  rotate: -90deg;
  z-index: 1;
}
#clientes .cliente__photo {
  width: 100%;
  height: 100%;
  filter: brightness(0.3);
  object-fit: cover;
  object-position: 50% 50%;
  z-index: 0;
  transition: all 0.25s ease-in;
}
#clientes .cliente__photo:hover {
  filter: brightness(1);
  transform: scale(1.05);
}
@media screen and (max-width: 1024px) {
  #clientes .cliente {
    width: 100%;
    height: 48rem;
    padding: 2rem 3.2rem;
    box-sizing: border-box;
  }
  #clientes .cliente__category, #clientes .cliente__name {
    visibility: hidden;
  }
  #clientes .cliente__photo:hover {
    filter: brightness(0.3);
    transform: scale(1);
  }
}

.box-faq {
  display: block;
  border: 0 solid transparent;
  border-radius: 2rem;
  background-color: #252525;
  width: 63rem;
  height: 5.2rem;
  margin: 2rem auto;
  cursor: pointer;
}
.box-faq .fi {
  font-size: 2rem;
  color: #fff;
}
.box-faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2rem;
}
.box-faq__response {
  display: none;
  visibility: hidden;
  transition: all 0.25s ease-in;
  padding: 1.2rem 0;
}
.box-faq__response--active {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  visibility: visible;
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  color: #5c5c5c;
}
.box-faq .faq {
  color: #fff;
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  margin-right: 2rem;
}
@media screen and (max-width: 1024px) {
  .box-faq {
    width: 100%;
    height: 8rem;
  }
  .box-faq .faq {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

button {
  border: none;
  background-color: #f9ba10;
  font: 800 2rem "Aspira Wide", sans-serif;
  letter-spacing: 0.08rem;
  padding: 0.8rem 6rem;
  height: 4rem;
  border-radius: 0.4rem;
  color: #252525;
  margin: 2rem auto;
}

.dsc-contato {
  flex: 5 1 32rem;
}

.form {
  flex: 7 1 70rem;
  margin-left: 2rem;
  border-radius: 2rem;
  background: linear-gradient(60deg, #ffd052, #ffe6a2);
}
.form form {
  display: flex;
  flex-direction: column;
  margin: 5.2rem 10rem;
}
.form form fieldset {
  margin: 1rem 0;
}
.form form fieldset label {
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  color: #252525;
  margin-bottom: 0.4rem;
}
.form form fieldset input {
  padding: 1rem 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
.form form fieldset input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-family: "Aspira Wide", sans-serif;
}
.form form .submit {
  width: 24rem;
  padding: 0.8rem;
  background-color: #252525;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  outline: none;
  margin-top: 2rem;
}

a {
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  color: #fff;
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
  color: #5c5c5c;
}

.modal {
  display: none;
}
.modal__img {
  flex: 1 1 52rem;
  height: 100%;
  position: relative;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}
.modal__img #item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}
.modal__img .slider {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
}
.modal__img .slider .fi {
  margin: 1rem 0;
  color: #5c5c5c;
}
.modal__img .nxt-image {
  position: absolute;
  bottom: 12rem;
  right: 2rem;
  font-size: 2rem;
  color: #5c5c5c;
  cursor: pointer;
}
.modal__infos {
  flex: 1 1 50rem;
  margin: 3.2rem 4.8rem;
}
.modal__infos .title {
  font-size: 4rem;
}
.modal__infos .title__dsc {
  font: 300 2rem/2.4rem "Aspira Wide", sans-serif;
  letter-spacing: 3px;
  color: #5c5c5c;
}
.modal__infos .title__qtde {
  font: 900 3.2rem "Aspira Wide", sans-serif;
  color: #5c5c5c;
  margin-right: 2rem;
}
.modal__infos .txt {
  letter-spacing: 1px;
  color: #5c5c5c;
}
.modal__infos ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 2rem;
}
.modal__infos ul li {
  margin: 2rem 0;
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
  color: #5c5c5c;
}
.modal__infos .qtde {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modal__infos .qtde input {
  outline: none;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  background-color: #F9F9FF;
  padding: 0.4rem 1rem;
  box-sizing: border-box;
  text-align: right;
  font: 300 1.6rem/2.4rem "Aspira Wide", sans-serif;
}
.modal--active {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100.6rem;
  height: 83rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.whatsapp-fixed {
  position: fixed;
  bottom: 4rem;
  right: 20rem;
  z-index: 1000;
  background: #25d366;
  color: #fff;
  border-radius: 50%;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.2s;
  text-decoration: none;
  animation: wpp 5s ease-in-out 0s infinite alternate;
  transition: all 0.25s ease-in;
}
.whatsapp-fixed a {
  font-size: 2.8rem;
}
.whatsapp-fixed:hover {
  background: #1ebe5d;
}

@keyframes wpp {
  from {
    bottom: 8rem;
  }
  to {
    bottom: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font: 900 3.2rem "Aspira Wide", sans-serif;
  }
  .link__complete {
    text-align: center;
    float: none;
  }
  .hide-first {
    display: none;
  }
  .dsc-contato {
    flex: 1 1 100%;
  }
  .form {
    flex: 1 1 100%;
    margin: 2rem 0;
    margin-left: 0;
  }
  .form form {
    margin: 2rem;
  }
  .form form .submit {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: 800;
  }
  .whatsapp-fixed {
    bottom: 8rem;
    right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
