html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-a-e {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.flex-c {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-wrap__evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 16rem;
  row-gap: 4rem;
  align-items: center;
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.flex-wrap-c {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.w100 {
  width: 100%;
}

.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-column-start {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-centerfix {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-2 {
  display: flex;
  flex: 1;
  margin: 0 0.5rem;
}

.menu {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #2B3063;
  height: 12rem;
  z-index: 4;
}
.menu .logo {
  width: 12rem;
  height: auto;
  margin: 0 auto;
}
.menu a {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.8rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.menu a:hover {
  color: rgba(245, 245, 245, 0.95);
}

.hero {
  position: relative;
  width: 100%;
  height: 900px;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .hero {
    height: 100vh;
  }
}
.hero__title {
  font: 900 5.6rem/6rem "Open Sans", sans-serif;
  color: #2B3063;
  text-transform: uppercase;
}
.hero__subtitle {
  font: 400 1.6rem/3.2rem "Open Sans", sans-serif;
  color: #3a3a3a;
}
.hero .overlay-h1 {
  position: absolute;
  top: 50%;
  left: 4rem;
  width: 65%;
}
@media screen and (min-width: 1024px) {
  .hero .overlay-h1 {
    left: 32rem;
    width: 40%;
  }
}
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: brightness(0.65) saturate(75%) opacity(98%) blur(4px);
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .hero video {
    height: 100vh;
    object-fit: cover;
  }
}

.overlay-forms {
  position: absolute;
  top: 12rem;
  right: 0;
  width: 40%;
  padding: 2rem 1.6rem;
  box-sizing: border-box;
  background: rgba(43, 48, 99, 0.95);
  box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.15);
  box-sizing: border-box;
  z-index: 1;
  height: 900px;
}
.overlay-forms form {
  display: flex;
  gap: 2.4rem;
  padding: 20rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.overlay-forms form legend {
  font: 900 2.8rem "Open Sans", sans-serif;
  color: #ecd9a1;
}
.overlay-forms form input {
  display: block;
  width: 100%;
  max-width: 40rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
  background: transparent;
  padding: 1.6rem;
  min-height: 4rem;
  box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.15);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.overlay-forms form input::placeholder {
  color: #fff;
  opacity: 0.6;
}
.overlay-forms form input[type=submit] {
  width: 20rem;
  border-radius: 0.4rem;
  border: 1px solid #ecd9a1;
  background: transparent;
  margin-top: 2rem;
  font-weight: 800;
  color: #ecd9a1;
  transition: all 0.2s ease-in-out;
}
.overlay-forms form input[type=submit]:hover {
  font-weight: 600;
  transform: scale(1.01);
  border: 2px solid #ecd9a1;
}

@media screen and (max-width: 1024px) {
  .overlay-forms {
    position: relative;
    width: 100%;
    max-width: 960px;
    padding: 2rem 1.6rem;
    box-sizing: border-box;
    background: #2B3063;
    box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.15);
    box-sizing: border-box;
    height: 500px;
  }
  .overlay-forms form {
    display: flex;
    gap: 20px;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .overlay-forms form input {
    display: block;
    width: 100%;
    border-radius: 0.2rem;
    border: 1px solid #fff;
    background: transparent;
    padding: 1.2rem 1.6rem;
    min-height: 4rem;
    box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.15);
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: #fff;
  }
  .overlay-forms form input::placeholder {
    color: #fff;
    opacity: 0.6;
  }
  .overlay-forms form input[type=submit] {
    width: 20rem;
    border-radius: 0.4rem;
    border: 1px solid #ecd9a1;
    background: transparent;
    margin-top: 2rem;
    font-weight: 800;
    color: #ecd9a1;
    transition: all 0.2s ease-in-out;
  }
  .overlay-forms form input[type=submit]:hover {
    font-weight: 600;
    transform: scale(1.01);
    border: 2px solid #ecd9a1;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1024px) {
  .overlay-forms form {
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
footer {
  background: #222439;
  color: #fff;
  padding: 3.2rem 2rem;
  margin-top: 5.6rem;
  font: 300 1.4rem/2.8rem "Open Sans", sans-serif;
}
footer .flex-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  footer .flex-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
}
footer div {
  margin-bottom: 1.6rem;
}
footer div a {
  font-size: 1.6rem;
  margin: 0 1.6rem;
  color: #fff;
}
footer div p {
  font-size: 1.4rem;
}
footer div h5 {
  font-weight: 800;
}
footer div i {
  font-size: 2rem;
  margin-right: 2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 2rem 0;
  max-width: 1280px;
  margin: 0 auto;
}
.container__infos:nth-child(2) {
  margin-left: 2rem;
}
.container__modal {
  width: 80%;
  background-color: #2B3063;
  max-width: 1280px;
  margin: 3.2rem auto;
}
.container__modal .info {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__modal .info .fi {
  width: 100%;
  color: #ecd9a1;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}
.container__modal .info h3 {
  color: #fff;
  font: 500 1.4rem "Open Sans", sans-serif;
  text-align: center;
}
.container .btn-modal {
  width: 26rem;
  margin: 2rem auto;
  display: block;
}
.container__testimonial {
  position: relative;
  width: 60%;
  margin: 2rem auto;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 4rem;
}
.container__testimonial .fi-bs-quote-right {
  position: absolute;
  top: -2rem;
  left: 2rem;
  font-size: 4rem;
  color: #2B3063;
}
.container__testimonial .fi-bs-quote-right::before {
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #F9F9FF;
  border-radius: 1.6rem;
}
.container__testimonial .txt-comment {
  font: 400 1.6rem/3.2rem "Open Sans", sans-serif;
  color: #3a3a3a;
}
.container__testimonial legend {
  font: 500 1.4rem "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}
.container .title {
  font: 900 4rem "Open Sans", sans-serif;
  color: #2B3063;
  text-transform: uppercase;
  width: 100%;
  margin: 2rem 0;
}
.container .txt-dsc {
  font: 400 1.6rem/2.4rem "Open Sans", sans-serif;
  color: #3a3a3a;
  width: 80%;
  margin: 0 0;
}
@media screen and (max-width: 1024px) {
  .container .title {
    font: 900 2.8rem "Open Sans", sans-serif;
    margin: 2rem 4rem;
  }
  .container .txt-dsc {
    width: 100%;
    margin: 0 4rem;
  }
}

button {
  border: none;
  background-color: #2B3063;
  font: 900 1.4rem "Open Sans", sans-serif;
  letter-spacing: 0.08rem;
  padding: 0.8rem 6rem;
  border-radius: 0.8rem;
  color: #ecd9a1;
  margin: 2rem auto;
}

.faq {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.box h4 {
  font: 800 1.6rem "Open Sans", sans-serif;
  color: #2B3063;
}
.box .box-questions {
  display: flex;
  justify-content: space-between;
  width: 62rem;
  margin: 1.2rem auto;
  padding: 2rem;
  display: flex;
  border: none;
  box-shadow: 2px 2px 6px rgba(10, 10, 10, 0.15);
  border-radius: 1rem;
  cursor: pointer;
}
.box .fi-br-angle-small-down {
  font-size: 2rem;
  color: #2B3063;
  transition: all 0.2s ease-in-out;
}
.box .fi-br-angle-small-down.active {
  transform: rotate(180deg);
}

.response {
  display: none;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  padding: 1.2rem 0;
}
.response.active {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  visibility: visible;
  font: 500 1.4rem "Open Sans", sans-serif;
  color: #3a3a3a;
}

a {
  font: 500 1.4rem "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

.whatsapp-fixed {
  position: fixed;
  bottom: 4rem;
  right: 32rem;
  z-index: 1000;
  background: #25d366;
  color: #fff;
  border-radius: 50%;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background 0.2s;
  text-decoration: none;
}

.whatsapp-fixed:hover {
  background: #1ebe5d;
}

/*# sourceMappingURL=style.css.map */
